

md-input-container.md-select {
  margin-top: 10px;
  margin-bottom: 10px;
}

md-input-container.md-icon-float {
  margin-top: 0px;
  padding-top: 8px;

}

md-input-container.md-icon-float.md-input-focused, md-input-container.md-icon-float.md-input-has-value {
  margin-top: 0px;
}

.menudemoBasicUsage .md-menu-demo {
  padding: 24px; }
.menudemoBasicUsage .menu-demo-container {
  min-height: 200px; }

.md-toolbar-tools h1 {
  font-size: inherit;
  font-weight: inherit;
  margin: inherit;
}

md-sidenav.md-locked-open {
  width: 150px !important;
  min-width: 150px !important;
  max-width: 150px !important;
}

.tab-buttons{
  overflow:auto;
}
.tab-buttons button{
  background:#363f45;
  color:#feb41c;
  border:none;
  padding:10px 20px;
  font:700 15px 'segoe ui',sans-serif;
  text-transform:uppercase;
  cursor:pointer;
  -webkit-transition:all 300ms ease-in;
  -moz-transition:all 300ms ease-in;
  transition:all 300ms ease-in;
}
.tab-buttons button.active{
  color:#5e7c88;
  background:#feb41c;
}
.tab-content>div{
  padding:20px;
  background:#5e7c88;
  font:400 16px 'segoe ui',sans-serif;
  color:#fff;
}

.dialogdemoBasicUsage #popupContainer {
  position: relative; }
.dialogdemoBasicUsage .footer {
  width: 100%;
  text-align: center;
  margin-left: 20px; }
.dialogdemoBasicUsage .footer, .dialogdemoBasicUsage .footer > code {
  font-size: 0.8em;
  margin-top: 50px; }

.listdemoListControls {
  /* Add some right padding so that the text doesn't overlap the buttons */ }
  .listdemoListControls md-divider {
    margin-top: 10px;
    margin-bottom: 10px; }
  .listdemoListControls md-list-item > p,
  .listdemoListControls md-list-item > .md-list-item-inner > p,
  .listdemoListControls md-list-item .md-list-item-inner > p,
  .listdemoListControls md-list-item .md-list-item-inner > .md-list-item-inner > p {
    -webkit-user-select: none;
    /* Chrome all / Safari all */
    -moz-user-select: none;
    /* Firefox all */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
    /* Likely future */ }
  .listdemoListControls .secondary-button-padding p {
    padding-right: 100px; }

