.cerrar-menu-activo {
  display: none;
}

.formly-field {
  /*margin-bottom:16px;*/

  width: inherit;
  height: 60px;
  /*color:green;*/

}

.formly-field input {
  width: 800px;
}

.formly-field textarea {
  width: 800px;
}


.mostrar-menu-activo {
  display: block;
}

.select-activo {
  color: mediumblue;
}

.select-relacion {
  color: mediumblue;
}

.estado-actual {
  color: green;
}

.estado-final {
  color: red;
}

md-backdrop.md-sidenav-backdrop{
    display:none
}

.node {
    stroke: #fff;
    stroke-width: 1.5px;
}
.link {
    stroke: #999;
    stroke-opacity: .6;
}

.node text {
  font: 16px helvetica;
}

d3-tip {
    line-height: 3;
    color: red;
    font: 16px helvetica;
}

a:hover {
    color: blue;
}

.critico {
  color: red;
}

table, th , td {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
table tr:nth-child(odd) {
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}

md-input-container.md-select {
  margin-top: 10px;
  margin-bottom: 10px;
}

md-input-container.md-icon-float {
  margin-top: 0px;
  padding-top: 8px;

}

md-input-container.md-icon-float.md-input-focused, md-input-container.md-icon-float.md-input-has-value {
  margin-top: 0px;
}

.menudemoBasicUsage .md-menu-demo {
  padding: 24px; }
.menudemoBasicUsage .menu-demo-container {
  min-height: 200px; }

.md-toolbar-tools h1 {
  font-size: inherit;
  font-weight: inherit;
  margin: inherit;
}

md-sidenav.md-locked-open {
  width: 150px !important;
  min-width: 30% !important;

}

.tab-buttons{
  overflow:auto;
}
.tab-buttons button{
  background:#363f45;
  color:#feb41c;
  border:none;
  padding:10px 20px;
  font:700 15px 'segoe ui',sans-serif;
  text-transform:uppercase;
  cursor:pointer;
  -webkit-transition:all 300ms ease-in;
  -moz-transition:all 300ms ease-in;
  transition:all 300ms ease-in;
}
.tab-buttons button.active{
  color:#5e7c88;
  background:#feb41c;
}
.tab-content>div{
  padding:20px;
  background:#5e7c88;
  font:400 16px 'segoe ui',sans-serif;
  color:#fff;
}
