<md-dialog aria-label="Nuevo Activo" ng-cloak style="width: 1000px; height: 600px;">

  <div layout="column" style=" height: 100%; width: 100%">
    <md-toolbar layout="row">
      <div class="md-toolbar-tools">
        
        <h1>Tipos de Activos Informaticos &nbsp; </h1>
        
      </div>
      <md-button class="md-icon-button" style="top: 7px;" ng-click="cancel()">
        <md-icon md-font-set="material-icons" aria-label="Close dialog">close</md-icon>
      </md-button>
    </md-toolbar>
    
    <div layout="row" flex>
      <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-4dp" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')" style="min-width: 30% !important;">
        <md-input-container class="md-icon-float md-block" style="top: 20px;">
          <input type="search" ng-model="buscado" placeholder="Tipos" aria-label="filter types" />
        </md-input-container>
        <md-list ng-cloak>
          <!-- md-subheader class="md-no-sticky">Lista de usuarios</md-subheader-->
          <md-list-item ng-repeat="type in assettypes | filter:buscado" ng-click="goToType(type, $event)">
            
            <!--img alt="{{ person.name }}" ng-src="{{ person.img }}" class="md-avatar" /-->
            <p>{{ type.name }}</p>
            
            <md-divider ng-if="!$last"></md-divider>
          </md-list-item>
        </md-list>
      </md-sidenav>
      <div layout="column" flex id="content">
        <md-content layout="column" flex class="md-padding">   
          <md-content>
              <md-tabs md-dynamic-height="" md-border-bottom="">
                <md-tab label="Descripción">
                  <md-content class="md-padding">
                    <h1 class="md-display-2">Descripción</h1>
                    
                      {{sel_type.comment}}  
                    
                  </md-content>
                </md-tab>
                <md-tab label="Atributos">
                  <md-content class="md-padding">
                    <h1 class="md-display-2">Atributos</h1>
                    <md-list-item ng-repeat="atributo in sel_atributos">
                      <md-icon md-font-set="material-icons" class="attributes" style="padding-left: 20px; padding-bottom: 20px;">settings_input_component</md-icon>
                      <strong style="padding-left: 20px; padding-bottom: 20px;"> Nombre: </strong>   
                      <p style="padding-left: 20px; padding-bottom: 20px;">{{atributo.name}} </p>
                      <strong style="padding-left: 20px; padding-bottom: 20px;"> Tipo: </strong>
                      <p style="padding-left: 20px; padding-bottom: 20px;">{{atributo.type}} </p>
                      <strong style="padding-left: 20px; padding-bottom: 20px;"> Obligatorio: </strong>
                      <p style="padding-left: 20px; padding-bottom: 20px;">{{atributo.required}} </p>
                    </md-list-item>
                  </md-content>
                </md-tab>
                <md-tab label="Ciclo de vida">
                  <md-content class="md-padding">
                    <h1 class="md-display-2">Ciclo de vida</h1>
                    
                  </md-content>
                </md-tab>
              </md-tabs>
          </md-content>
        </md-content>
        <md-dialog-actions layout="row">
          <span flex></span>
          <md-button ng-click="doFormly(sel_type)">
            Aceptar
          </md-button>
          <md-button ng-click="cancel()" style="margin-right:20px;">
            Cancelar
          </md-button>
        </md-dialog-actions>
      </div>
    </div>
  </div>

</md-dialog>