<md-dialog aria-label="Nuevo tipo de activo" ng-cloak >
  <form >
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Nuevo Tipo de Activo</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-font-set="material-icons" aria-label="Close dialog">close</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    
    <md-content layout="column" style="padding-top: 18px; margin-left: 20px; ">
      <div >
        <md-input-container class=" md-block" >
          
          <md-icon md-font-set="material-icons" class="name" aria-label="nombre tipo activo">receipt</md-icon>
          <input ng-model="AssetType.name" type="text" placeholder="Nombre de tipo">
        </md-input-container>
        
        
      </div>
      <div>
        <md-input-container class=" md-block" >
          
          <md-icon md-font-set="material-icons" class="comments" aria-label="Comentarios">comment</md-icon>
          <input ng-model="AssetType.comment" type="text" placeholder="Comentarios">
        </md-input-container>
       
      </div>
      <div layout="row" ng-repeat="attribute in properties" style="min-height: 82px;">
          <!--{{ d.label}}-->

          <md-input-container  class=" md-block" style="padding-right: 6px;">
              <md-icon md-font-set="material-icons"  >settings_input_component</md-icon>
              <input ng-model="attribute.name" type="text" placeholder="Atributos" aria-label="lista atributos">
          </md-input-container>

          <md-input-container class="md-select " style="bottom: 4px;">
            <label>Tipo</label>
            <md-select ng-model="attribute.type">
              <md-option ng-repeat="tipo in tipos" value="{{tipo}}">
                {{tipo}}
              </md-option>
            </md-select>    
          </md-input-container>

          <div style="padding-top: 18px; padding-left: 6px; min-width: 118px;">
          <label>Obligatorio</label>
          <md-checkbox ng-model="attribute.required" aria-label="Checkbox 1">

          </md-checkbox>
          </div>
          <!--md-content layout-gt-sm="row" ng-repeat="element in attribute.list" ng-if="attribute.type=='List'">
            <md-input-container class="md-icon-float md-block" >
              <md-icon md-font-set="material-icons" class="list" >list</md-icon>
              <input ng-model="atribute.list" type="text" placeholder="Elemento de lista" aria-label="lista atributos">
            </md-input-container>
          </md-content-->
          
          <div layout-gt-sm="row" ng-if="properties.length>1" >
            <md-button  aria-label="Quitar columna" ng-click="removeItem($index)" style=" bottom: 14px;"> 
              <md-icon md-font-set="material-icons">remove_circle</md-icon>
            </md-button>
          </div>

          <div layout-gt-sm="row" ng-if="$last"  >
            <md-button  aria-label="Añadir columna" ng-click="addItem()" style=" bottom: 14px;"> 
              <md-icon md-font-set="material-icons">add_circle</md-icon>
            </md-button>
          </div>

      </div>
      
    </md-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="answer('TipoActivo',AssetType)">
        Aceptar
      </md-button>
      <md-button ng-click="answer('Cancelar')" style="margin-right:20px;">
        Cancelar
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>