<md-dialog aria-label="Nuevo tipo de activo" ng-cloak style="width: 1200px;">
  <form name="addAssetType">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Nuevo Tipo de Activo - Paso {{etapa}} de 2 </h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-font-set="material-icons" aria-label="Close dialog">close</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    
    <!--md-content layout="column" style="padding-top: 18px; margin-left: 20px; ">
      <div >
        <md-input-container class=" md-block" >
          <md-icon md-font-set="material-icons" class="name" aria-label="nombre tipo activo">receipt</md-icon>
          <input ng-model="AssetType.name" type="text" placeholder="Nombre de tipo" ng-required="true">
        </md-input-container>
      </div>
      <div>
        <md-input-container class=" md-block" >
          
          <md-icon md-font-set="material-icons" class="comments" aria-label="Comentarios">comment</md-icon>
          <input ng-model="AssetType.comment" type="text" placeholder="Comentarios">
        </md-input-container>
       
      </div>
      <div layout="row" ng-repeat="attribute in properties" style="min-height: 82px;">

          <md-input-container  class=" md-block" style="padding-right: 6px;">
              <md-icon md-font-set="material-icons"  >settings_input_component</md-icon>
              <input ng-model="attribute.name" type="text" placeholder="Atributos" aria-label="lista atributos" ng-required="true">
          </md-input-container>

          <md-input-container class="md-select " style="bottom: 4px;">
            <label>Tipo</label>
            <md-select ng-model="attribute.type" ng-required="true">
              <md-option ng-repeat="tipo in tipos" value="{{tipo}}">
                {{tipo}}
              </md-option>
            </md-select>    
          </md-input-container>

          <div style="padding-top: 18px; padding-left: 6px; min-width: 118px;">
          <label>Obligatorio</label>
          <md-checkbox ng-model="attribute.required" aria-label="Checkbox 1">

          </md-checkbox>
          </div>
          
          <div layout-gt-sm="row" ng-if="properties.length>1" >
            <md-button  aria-label="Quitar columna" ng-click="removeItem($index)" style=" bottom: 14px;"> 
              <md-icon md-font-set="material-icons">remove_circle</md-icon>
            </md-button>
          </div>

          <div layout-gt-sm="row" ng-if="$last"  >
            <md-button  aria-label="Añadir columna" ng-click="addItem()" style=" bottom: 14px;"> 
              <md-icon md-font-set="material-icons">add_circle</md-icon>
            </md-button>
          </div>

      </div>
      
    </md-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="answer('TipoActivo',AssetType)" ng-disabled="addAssetType.$invalid">
        Aceptar
      </md-button>
      <md-button ng-click="answer('Cancelar')" style="margin-right:20px;">
        Cancelar
      </md-button>
    </md-dialog-actions-->
    <div ng-switch="etapa">
      
      <div ng-switch-when="1">
        <md-content layout="column" style="padding-top: 18px; margin-left: 20px; ">
          <div>
            <md-input-container class=" md-block" >
              <md-icon md-font-set="material-icons" class="name" aria-label="nombre tipo activo">receipt</md-icon>
              <input ng-model="asset_type.name" type="text" placeholder="Nombre de tipo" ng-required="true">
            </md-input-container>
          </div>
          <div>
            <md-input-container class=" md-block" >
              
              <md-icon md-font-set="material-icons" class="comments" aria-label="Comentarios">comment</md-icon>
              <input ng-model="asset_type.comment" type="text" placeholder="Comentarios">
            </md-input-container>
           
          </div>
          <div layout="row" ng-repeat="attribute in properties" style="min-height: 82px;">

              <md-input-container  class=" md-block" style="padding-right: 6px;">
                  <md-icon md-font-set="material-icons"  >settings_input_component</md-icon>
                  <input ng-model="attribute.name" type="text" placeholder="Atributos" aria-label="lista atributos" ng-required="true">
              </md-input-container>

              <md-input-container class="md-select " style="bottom: 4px;">
                <label>Tipo</label>
                <md-select ng-model="attribute.type" ng-required="true">
                  <md-option ng-repeat="tipo in tipos" value="{{tipo}}">
                    {{tipo}}
                  </md-option>
                </md-select>    
              </md-input-container>

              <div style="padding-top: 18px; padding-left: 6px; min-width: 118px;">
              <label>Obligatorio</label>
              <md-checkbox ng-model="attribute.required" aria-label="Checkbox 1">

              </md-checkbox>
              </div>
              
              <div layout-gt-sm="row" ng-if="properties.length>1" >
                <md-button  aria-label="Quitar columna" ng-click="removeItem($index)" style=" bottom: 14px;"> 
                  <md-icon md-font-set="material-icons">remove_circle</md-icon>
                </md-button>
              </div>

              <div layout-gt-sm="row" ng-if="$last"  >
                <md-button  aria-label="Añadir columna" ng-click="addItem()" style=" bottom: 14px;"> 
                  <md-icon md-font-set="material-icons">add_circle</md-icon>
                </md-button>
              </div>
          </div>
        </md-content>
        <md-dialog-actions layout="row">
          <span flex></span>
          <md-button ng-click="nextSelect()" ng-disabled="addAssetType.$invalid">
            Siguiente
          </md-button>
          <md-button ng-click="cancel()" style="margin-right:20px;">
            Cancelar
          </md-button>
        </md-dialog-actions>
      </div>
      
      <div layout="row" ng-switch-when="2">
          <md-content layout="column"  style="padding-top: 18px; margin-left: 20px; width: 580px;">
            
            <div layout="column" ng-repeat="nodo in nodes" style="min-height: 82px;">
              
              <div layout="row" style="margin-top: 16px;">
                
                <md-input-container  class=" md-block" style="padding-right: 6px;">
                    <md-icon md-font-set="material-icons" style="padding-top: 10px;">panorama_fish_eye</md-icon>
                    <input ng-model="nodo.name" type="text" placeholder="Nombre de estado" aria-label="lista nodos" ng-required="true">
                </md-input-container>

                <div style="padding-top: 18px; padding-left: 6px; min-width: 118px;">
                  <label>Estado Final</label>
                  <md-checkbox ng-model="nodo.final" aria-label="Checkbox 1"></md-checkbox>
                </div>
                
                <div layout-gt-sm="row" ng-if="nodes.length>1" >
                  <md-button  aria-label="Quitar columna" ng-click="removeNode($index)" style=" bottom: 14px;"> 
                    <md-icon md-font-set="material-icons">remove_circle</md-icon>
                  </md-button>
                </div>

                <div layout-gt-sm="row" ng-if="$last">
                  <md-button  aria-label="Añadir columna" ng-click="addNode()" style=" bottom: 14px;"> 
                    <md-icon md-font-set="material-icons">add_circle</md-icon>
                  </md-button>
                </div>

              </div>

              <div layout="row" ng-repeat="dir in nodo.dirs" style="min-height: 82px;">
                  
                  <!-- <md-input-container class=" md-block" style="padding-right: 6px;">
                      <md-icon md-font-set="material-icons">panorama_fish_eye</md-icon>
                      <input ng-model="dir.enlace" type="text" placeholder="Direccion de estado" aria-label="lista de direcciones" ng-required="true">
                  </md-input-container> -->
                  <md-input-container style="left: 35px;">
                    <md-icon md-font-set="material-icons" style="padding-top: 10px;">directions</md-icon>
                    <md-autocomplete
                              md-no-cache="true"
                              md-selected-item="dir.enlace"
                              md-search-text="searchText"
                              md-selected-item-change="ctrl.selectedItemChange(item)"
                              md-items="item in querySearch(searchText,$parent.$index)"
                              md-item-text="item.name"
                              ng-disabled="nodo.final"
                              style="width: 286px;" 
                              >
                      <md-item-template>
                        <span md-highlight-text="searchText" md-highlight-flags="^i">{{item.name}}</span>
                      </md-item-template>
                      <md-not-found>
                              No existe "{{searchText}}". 
                        <a ng-click="addNode()">Agregue uno</a>
                      </md-not-found>
                    </md-autocomplete>
                  </md-input-container>
                  
                  <div layout-gt-sm="row" ng-if="nodo.dirs.length>1" >
                    <md-button  aria-label="Quitar columna" ng-click="removeLink($parent.$index,$index)" style=" bottom: 14px; left: 46px;"> 
                      <md-icon md-font-set="material-icons">remove_circle</md-icon>
                    </md-button>
                  </div>

                  <div layout-gt-sm="row" ng-if="$last"  >
                    <md-button  aria-label="Añadir columna" ng-click="addLink($parent.$index)" style=" bottom: 14px; left: 46px;"> 
                      <md-icon md-font-set="material-icons">add_circle</md-icon>
                    </md-button>
                  </div>
                   
              </div>

              <md-divider ng-if="!$last"></md-divider>

            </div>
            
            <md-dialog-actions layout="row">
              <span flex></span>
              <md-button ng-click="prevSelect()">
                Atras
              </md-button>
              <md-button ng-click="answer('TipoActivo',asset_type)" ng-disabled="addAssetType.$invalid">
                Siguiente
              </md-button>
              <md-button ng-click="cancel()" style="margin-right:10px;">
                Cancelar
              </md-button>
            </md-dialog-actions>
            
          </md-content>


      </div>

    </div>

  </form>
</md-dialog>