<div layout="column" style=" height: 100%;">
  <md-toolbar layout="row">
    <div class="md-toolbar-tools">

      <h1>Activos Informaticos &nbsp; </h1>
      <!-- <md-button class="md-icon-button" aria-label="Menu">
          <md-icon md-font-set="material-icons">menu</md-icon>
      </md-button> -->

      <span flex=""></span>
      <!-- <md-button class="md-icon-button" aria-label="Busqueda">
        <md-icon md-font-set="material-icons">search</md-icon>
      </md-button> -->

    </div>
  </md-toolbar>
  <div layout="row" flex>
    <!-- <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-4dp" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
      <md-button class="md-accent">Usuarios</md-button>
      <md-button class="md-accent">Grupos</md-button>
      <md-button class="md-accent">Activos</md-button>

    </md-sidenav> -->

    <div layout="column" flex id="content">
      <md-content layout="column" flex class="md-padding">


          <md-content>
            <md-tabs md-dynamic-height="" md-border-bottom="">
              <!-- <md-tab label="Usuarios">
                <md-content class="md-padding">
                  <h1 class="md-display-2">Usuarios</h1>
                  <md-list ng-cloak>

                    <md-list-item ng-repeat="person in people" >

                      <md-icon md-font-set="material-icons">account_circle</md-icon>

                      <p>{{ person.name }}</p>

                      <md-icon md-font-set="material-icons" ng-click="doEditar(person, $event, $index)" aria-label="Open Chat" class="md-secondary md-hue-3" ng-class="{'md-primary': person.newMessage}">edit</md-icon>
                      <md-divider ng-if="!$last"></md-divider>
                    </md-list-item>
                  </md-list>
                </md-content>
              </md-tab> -->

              <md-tab label="Tipos de activo">
                <md-content class="md-padding">
                  <h1 class="md-display-2">Tipos de activo</h1>

                  <md-list ng-cloak>
                    <!-- md-subheader class="md-no-sticky">Lista de usuarios</md-subheader-->
                    <md-list-item ng-repeat="type in assettypes" ng-click="goToType(type, $event,$index)">
                      <md-icon md-font-set="material-icons">receipt</md-icon>
                      <!--img alt="{{ person.name }}" ng-src="{{ person.img }}" class="md-avatar" /-->
                      <p>{{ type.name }}</p>
                      <md-icon md-font-set="material-icons" ng-click="editAssetType($event, type, $index)" aria-label="Open Chat" class="md-secondary md-hue-3" ng-class="{'md-primary': person.newMessage}">edit</md-icon>
                      <md-divider ng-if="!$last"></md-divider>
                    </md-list-item>
                  </md-list>

                </md-content>
              </md-tab>
              <md-tab label="Tipos de relacion">
                <md-content class="md-padding">
                  <h1 class="md-display-2">Tipos de relacion</h1>
                  <md-list ng-cloak>

                    <md-list-item ng-repeat="relType in relationtypes" ng-click="goToRelationType(relType, $event,$index)">
                      <md-icon md-font-set="material-icons">link</md-icon>

                      <p>{{ relType._id }}</p>
                      <md-icon md-font-set="material-icons" ng-click="editRelationType($event, relType, $index)" aria-label="Open Chat" class="md-secondary md-hue-3">edit</md-icon>
                      <md-divider ng-if="!$last"></md-divider>
                    </md-list-item>
                  </md-list>
                </md-content>
              </md-tab>
            </md-tabs>
          </md-content>

          <ul mfb-menu menu-state="myVar" position="br" effect="slidein" active-icon="ion-close" resting-icon="ion-plus" toggling-method="click" >
            <a mfb-button mfb-button-close icon="ion-android-list" label="Nuevo tipo de activo" ng-click="showAddAssetType($event)" >  </a>
            <a mfb-button mfb-button-close icon="ion-link" label="Nuevo tipo de relación" ng-click="showAddRelationType($event)" >  </a>
            <a mfb-button mfb-button-close icon="ion-ios-personadd" label="Nuevo usuario" ng-click="showAddUser($event)" >  </a>
          </ul>

          {{status}}

        </div>


      </md-content>


  </div>

</div>
