<md-dialog aria-label="Nuevo tipo de activo" ng-cloak >
  <form name="editAssetType">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Editar Tipo de Activo</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-font-set="material-icons" aria-label="Close dialog">close</md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <div ng-switch="etapa">

      <div ng-switch-when="1">
        <md-content layout="column" style="padding-top: 18px; margin-left: 20px; ">
          <div style="width: 500px;">
            <md-input-container class=" md-block" >

              <md-icon md-font-set="material-icons" class="name" aria-label="nombre tipo activo">receipt</md-icon>
              <input ng-model="update_type.name" type="text" placeholder="Nombre de tipo" ng-disabled="true" >


            </md-input-container>


          </div>
          <div style="width: 500px;">
            <md-input-container class=" md-block" >

              <md-icon md-font-set="material-icons" class="comments" aria-label="Comentarios">comment</md-icon>
              <input ng-model="update_type.comment" type="text" placeholder="Comentarios">
            </md-input-container>

          </div>
          <div layout="row" ng-repeat="attribute in update_type.properties" style="min-height: 82px;">
              <!--{{ d.label}}-->

              <md-input-container  class=" md-block" style="padding-right: 6px;">
                  <md-icon md-font-set="material-icons"  >settings_input_component</md-icon>
                  <input ng-model="attribute.name" type="text" placeholder="Atributos" aria-label="lista atributos" ng-required="true" ng-blur="compararAtributo()">

                  <div ng-messages="{'duplicado': nombreAtributoDuplicado}" >
                    <div ng-message="duplicado" style="opacity: 1 !important; margin-top: 0px;"> No pueden existir dos o más atributos con el mismo nombre </div>
                  </div>
              </md-input-container>

              <md-input-container class="md-select " style="bottom: 4px;">
                <label>Tipo</label>
                <md-select ng-model="attribute.type" ng-required="true">
                  <md-option ng-repeat="tipo in tipos" value="{{tipo}}">
                    {{tipo}}
                  </md-option>
                </md-select>
              </md-input-container>

              <div style="padding-top: 18px; padding-left: 6px; min-width: 118px;">
              <label>Obligatorio</label>
              <md-checkbox ng-model="attribute.required" aria-label="Checkbox 1">

              </md-checkbox>
              </div>

              <div layout-gt-sm="row" ng-if="update_type.properties.length>1" >
                <md-button  aria-label="Quitar columna" ng-click="removeItem($index)" style=" bottom: 14px;">
                  <md-icon md-font-set="material-icons">remove_circle</md-icon>
                </md-button>
              </div>

              <div layout-gt-sm="row" ng-if="$last"  >
                <md-button  aria-label="Añadir columna" ng-click="addItem()" style=" bottom: 14px;">
                  <md-icon md-font-set="material-icons">add_circle</md-icon>
                </md-button>
              </div>

          </div>

        </md-content>
        <md-dialog-actions layout="row">
          <span flex></span>
          <md-button ng-click="nextSelect()" ng-disabled="editAssetType.$invalid || nombreAtributoDuplicado">
            Siguiente
          </md-button>
          <md-button ng-click="cancel()" style="margin-right:20px;">
            Cancelar
          </md-button>
        </md-dialog-actions>
      </div>
      <div layout="row" ng-switch-when="2">

          <div layout="column"  style="padding-top: 18px; margin-left: 20px; ">

            <h1 class="md-display-2">Ciclo de vida</h1>

            <div layout="row"  style="min-height: 82px; margin-top: 18px;">
              <p style="padding-left: 30px; padding-bottom: 10px; padding-right: 30px;"> Agregue o edite los estados posibles para su tipo de activo </p>
            </div>

            <div layout="column" ng-repeat="nodo in update_type.lifeCycle" style="min-height: 82px;">

              <div layout="row" style="margin-top: 18px;">

                <md-input-container  class=" md-block " style="padding-right: 6px;">
                    <md-icon md-font-set="material-icons" style="padding-top: 10px;">panorama_fish_eye</md-icon>
                    <input name="nombre_estado" ng-model="nodo.name" type="text" placeholder="Nombre de estado" aria-label="lista_nodos" ng-required="true" ng-blur="compararNombre()">

                    <div ng-messages="{'duplicados': nombreDuplicado}" >
                      <div ng-message="duplicados" style="opacity: 1 !important; margin-top: 0px;"> No pueden existir dos o más estados con el mismo nombre </div>
                    </div>

                    <div ng-messages="{'nofinal': !hayFinal}" >
                      <div ng-message="nofinal" style="opacity: 1 !important; margin-top: 0px;"> Debe existir al menos un estado final </div>
                    </div>

                </md-input-container>

                <div style="padding-top: 18px; padding-left: 6px; min-width: 118px;" ng-show="nodo.isInitial">
                  <label>Estado inicial</label>
                  <md-checkbox ng-model="nodo.isInitial"  aria-label="Checkbox 2"  ng-disabled="true"></md-checkbox>
                </div>

                <div style="padding-top: 18px; padding-left: 6px; min-width: 130px;" ng-hide="nodo.isInitial && update_type.lifeCycle.length>1">
                  <label>Estado Final</label>
                  <md-checkbox ng-model="nodo.isFinal"  aria-label="Checkbox 1" ng-change="changeFinal(nodo.isFinal)" ng-disabled="!nodo.isFinal && hayFinal"></md-checkbox>
                </div>

                <div layout-gt-sm="row" ng-if="!$first">
                  <md-button  aria-label="Quitar columna" ng-click="removeNode($index)" style=" bottom: 14px;">
                    <md-icon md-font-set="material-icons">remove_circle</md-icon>
                  </md-button>
                </div>

                <div layout-gt-sm="row" ng-if="$last">
                  <md-button  aria-label="Añadir columna" ng-click="addNode()" ng-disabled="!nodo.name" style=" bottom: 14px;">
                    <md-icon md-font-set="material-icons">add_circle</md-icon>
                  </md-button>
                </div>

              </div>

              <md-divider ng-if="!$last"></md-divider>

            </div>

            <md-dialog-actions layout="row">
              <span flex></span>
              <md-button ng-click="prevSelect()">
                  Atras
              </md-button>

              <md-button ng-click="nextSelect()" ng-disabled="editAssetType.$invalid || !hayFinal || nombreDuplicado">
                  Siguiente
              </md-button>
              <md-button ng-click="cancel()" style="margin-right:10px;">
                  Cancelar
              </md-button>
            </md-dialog-actions>
          </div>
      </div>
      <div layout="row" ng-switch-when="3">

          <div layout="column"  style="padding-top: 18px; margin-left: 20px; ">

            <h1 class="md-display-2">Transición de estados</h1>

            <div layout="row"  style="min-height: 82px; margin-top: 18px;">
              <p style="padding-left: 30px; padding-bottom: 10px; padding-right: 30px;"> Elija los estados destino para cada estado del ciclo </p>
            </div>

            <div ng-if="update_type.lifeCycle.length == 1" style="margin-top: 18px;">
              <p style="padding-left: 30px; padding-bottom: 10px;">  No existen transiciones de estados disponibles </p>
            </div>

            <div layout="column" ng-repeat="nodo in update_type.lifeCycle" ng-if="!nodo.isFinal" style="min-height: 82px;">

              <div layout="row" style="margin-top: 18px;">

                <md-input-container  class=" md-block" style="padding-right: 6px;">
                    <md-icon md-font-set="material-icons" style="top: 0px;">panorama_fish_eye</md-icon>

                    <div>
                      <h3 style="padding-left: 30px;">Estado {{nodo.name}}</h3>
                    </div>


                </md-input-container>

              </div>

              <div layout="row" ng-repeat="dir in nodo.adjacents track by $index" style="min-height: 82px;">

                <md-input-container style="left: 35px;">
                  <md-icon md-font-set="material-icons" >directions</md-icon>

                  <md-select ng-model="nodo.adjacents[$index]" ng-required="true"  aria-label="nombre nodos">
                    <md-option ng-repeat="estado in update_type.lifeCycle" value="{{estado.name}}" ng-hide="update_type.lifeCycle[$parent.$parent.$parent.$index].name == estado.name ">
                    <!--md-option ng-repeat="estado in nodes" value="{{estado.name}}" ng-disabled"$parent.$parent.$parent.$index === 1"-->
                        Estado {{estado.name}}
                    </md-option>
                  </md-select>
                </md-input-container>

                <div layout-gt-sm="row" ng-if="nodo.adjacents.length>1" >
                  <md-button  aria-label="Quitar columna" ng-click="removeLink($parent.$parent.$index,$index)" style="  left: 46px;">
                    <md-icon md-font-set="material-icons">remove_circle_outline</md-icon>
                  </md-button>
                </div>

                <div layout-gt-sm="row" ng-if="$last"  >
                  <md-button  aria-label="Añadir columna" ng-click="addLink($parent.$parent.$index)" ng-disabled="nodo.adjacents.length == update_type.lifeCycle.length-1" style="  left: 46px;">
                    <md-icon md-font-set="material-icons">add_circle_outline</md-icon>
                  </md-button>
                </div>

              </div>

              <md-divider ng-if="!$last"></md-divider>

            </div>

            <md-dialog-actions layout="row">
              <span flex></span>
              <md-button ng-click="prevSelect()">
                  Atras
              </md-button>
              <md-button ng-click="editar(update_type)" ng-disabled="editAssetType.$invalid">
                  Aplicar
              </md-button>
              <!--md-button ng-click="nextSelect()" ng-disabled="addAssetType.$invalid">
                  Siguiente
              </md-button-->
              <md-button ng-click="cancel()" style="margin-right:10px;">
                  Cancelar
              </md-button>
            </md-dialog-actions>
          </div>

          <div layout="column"  style="padding-top: 18px; margin-left: 20px; ">

          </div>
      </div>

    </div>
  </form>
</md-dialog>
