<md-dialog aria-label="Editar Usuario" ng-cloak style="min-width: 340px; min-height: 300px;">
  <form name="relationTypeForm">
  <!--form-->
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Editar tipo de relacion</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-font-set="material-icons" aria-label="Close dialog">close</md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-content  style="padding-top: 20px; top: 10px; margin-left: 20px; width: 290px;">

      <md-input-container class="md-icon-float md-block">
        <md-icon md-font-set="material-icons">link</md-icon>
        <input ng-model="update_relationType.name" type="text" placeholder="Nombre" ng-required="true" />
      </md-input-container>

      <md-input-container class="md-icon-float md-block">
        <md-icon md-font-set="material-icons">link</md-icon>
        <input ng-model="update_relationType.counterRelation" type="text" placeholder="Contra relación" ng-required="true"/>
      </md-input-container>

      <md-input-container class="md-block">
          <!-- Use floating placeholder instead of label -->
          <md-icon md-font-set="material-icons" class="email">comment</md-icon>
          <input ng-model="update_relationType.comment" type="textarea" placeholder="Comentarios" >
      </md-input-container>
    </md-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="answer('Editar', update_relationType)" ng-disabled="relationTypeForm.$invalid">
        Aceptar
      </md-button>
      <md-button ng-click="cancel()" style="margin-right:20px;">
        Cancelar
      </md-button>
      <md-button class="md-icon-button" ng-click="callDel(indice)">
          <md-icon md-font-set="material-icons" aria-label="Borrar dialog">delete</md-icon>
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
