<md-dialog aria-label="Nuevo Activo" ng-cloak style="width: 800px; ">
	<md-toolbar layout="row">
	  <div class="md-toolbar-tools">
	    
	    <h1>Alta de Activo &nbsp; </h1>
	    
	  </div>
	  <md-button class="md-icon-button" style="top: 7px;" ng-click="cancel()">
	    <md-icon md-font-set="material-icons" aria-label="Close dialog">close</md-icon>
	  </md-button>
	</md-toolbar>
	
	<formly-form model="asset" fields="formly_fields" form="create_form">
		
		<md-button ng-click="newAsset(asset)" ng-disabled="create_form.$invalid" >Crear</md-button>
		
	</formly-form>

</md-dialog>