<md-dialog aria-label="Nuevo Activo" ng-cloak style="width: 1000px; ">
	<!-- <div style="overflow: auto"> -->
	<md-toolbar layout="row">
	  <div class="md-toolbar-tools">
	    <h1>Alta de Activo &nbsp; </h1>
	  </div>

		<md-button class="md-icon-button" style="top: 7px;" ng-click="cancel()">
	    <md-icon md-font-set="material-icons" aria-label="Close dialog">close</md-icon>
	  </md-button>
	</md-toolbar>

	<div style="overflow: auto">
		<formly-form model="asset" fields="formly_fields" form="create_form">

			<div layout="column" ng-repeat="lista in listas" style="min-height: 82px;">
					<!--{{ d.label}}-->
					<md-divider></md-divider>
					<div style="padding-left: 16px; padding-top: 10px;">
						<h2>Lista: {{lista.name}} </h2>
					</div>

					<div layout="row" ng-repeat="element in lista.elements" style="min-height: 82px; padding-left: 16px; padding-top: 14px;">

						<md-input-container  class=" md-block" style="padding-right: 6px; ">
								<input ng-model="element.content" type="text" placeholder="" aria-label="lista" ng-required="lista.required">
						</md-input-container>

						<div layout-gt-sm="row" >
							<md-button  aria-label="Quitar columna" ng-click="removeItem('lista',$parent.$index,$index)" style=" bottom: 14px;">
								<md-icon md-font-set="material-icons">remove_circle</md-icon>
							</md-button>
						</div>

						<div layout-gt-sm="row" >
							<md-button  aria-label="Añadir columna" ng-click="addItem('lista',$parent.$index)" style=" bottom: 14px;">
								<md-icon md-font-set="material-icons">add_circle</md-icon>
							</md-button>
						</div>

				</div>
			</div>

			<md-divider></md-divider>
			<div style="padding-left: 16px; padding-top: 10px;">
				<h2> Tags </h2>
			</div>

			<div style="padding-left: 16px; padding-top: 10px;">
				<md-chips ng-model="asset.tags" placeholder="Agregue un tag a su activo" secondary-placeholder="+Tag" delete-button-label="Borrar"></md-chips>
			</div>

			<md-divider></md-divider>
			<div style="padding-left: 16px; padding-top: 10px;">
				<h2> Miembros </h2>
			</div>
			<div layout="row" ng-repeat="member in asset.stakeholders track by $index" style="padding-left: 16px; padding-bottom: 20px;">

				<md-input-container class=" md-block" style="margin-bottom: 0px; ">
					<!-- <input ng-model="asset.stakeholders.name" type="text" placeholder="Nombre de contacto" > -->
					<label>Persona</label>
	        <md-select ng-model="member.personId" aria-label="tipo activo" style="width:260px;">
	          <md-option ng-repeat="person in people" value="{{person._id}}" >
	              {{person.name}}
	          </md-option>
	        </md-select>
				</md-input-container>
				<md-input-container class=" md-block" style="margin-bottom: 0px; left:20px;">
					<!-- <input ng-model="asset.stakeholders.email" type="email" placeholder="Email de contacto" > -->
					<label>Rol</label>
	        <md-select ng-model="member.role" aria-label="tipo activo" style="width:260px;">
	          <md-option ng-repeat="rol in roles" value="{{rol.name}}" >
	              {{rol.name}}
	          </md-option>
	        </md-select>
				</md-input-container>

				<!-- <div layout-gt-sm="row" ng-if="asset.stakeholders.length>1" > -->
					<md-button  aria-label="Quitar columna" ng-click="removeItem('miembro','',$index)" style=" left:60px; top:10px;" ng-if="asset.stakeholders.length>1">
						<md-icon md-font-set="material-icons">remove_circle</md-icon>
					</md-button>
				<!-- </div> -->

				<!-- <div layout-gt-sm="row" ng-if="$last"> -->
					<md-button  aria-label="Añadir columna" ng-click="addItem('miembro')" style="left:60px; top:10px; "ng-if="$last">
						<md-icon md-font-set="material-icons">add_circle</md-icon>
					</md-button>
				<!-- </div> -->
			</div>


			<md-divider></md-divider>
			<div style="padding-left: 16px; padding-top: 10px;">
				<h2> Informacion adjunta </h2>
			</div>

			<div layout="row" ng-repeat="link in asset.attached track by $index" style="min-height: 82px; padding-left: 16px; padding-top: 14px;">

					<md-input-container  class=" md-block" >
						<input ng-model="link.name" type="text" placeholder="Nombre de adjunto" aria-label="lista" style="width:260px;" ng-blur="verifUrl()">
						<div ng-messages="{'vacio': urlVacio}" >
							<div ng-message="vacio" style="opacity: 1 !important; margin-top: 0px;"> Ingrese un link para el elemnto adjunto </div>
						</div>
					</md-input-container>
					<md-input-container  class=" md-block" style=" left:20px;">
						<input ng-model="link.url" type="url" placeholder="https://" aria-label="lista" style="width:260px;" ng-blur="verifUrl()">
					</md-input-container>

					<!-- <div layout-gt-sm="row" ng-if="asset.attached.length>1" > -->
						<md-button  aria-label="Quitar columna" ng-click="removeItem('',$parent.$index,$index)" style="left:60px; bottom: 14px;" ng-if="asset.attached.length>1" >
							<md-icon md-font-set="material-icons">remove_circle</md-icon>
						</md-button>
					<!-- </div> -->

					<!-- <div layout-gt-sm="row" ng-if="$last"> -->
						<md-button  aria-label="Añadir columna" ng-click="addItem('')" style="left:60px; bottom: 14px;" ng-if="$last">
							<md-icon md-font-set="material-icons">add_circle</md-icon>
						</md-button>
					<!-- </div> -->

			</div>

		</formly-form>
	</div>


	<md-dialog-actions layout="row">
		<md-button ng-click="newAsset(asset)" ng-disabled="create_form.$invalid || urlVacio" >Crear</md-button>
		<md-button ng-click="cancel()" >Cancelar</md-button>
	</md-dialog-actions>
	<!-- </div> -->
</md-dialog>
