<md-dialog aria-label="Mostrar Relacion" ng-cloak style="width: 800px; ">
	<md-toolbar layout="row">
	  <div class="md-toolbar-tools">

	    <h1> Relacion {{relation.id}} &nbsp; </h1>

	  </div>

      <md-button class="md-icon-button" style="top: 7px;" ng-click="editRelation(ev,relation,indice)">
      	<md-tooltip md-direction="bottom"> Editar </md-tooltip>
	    <md-icon md-font-set="material-icons" aria-label="Edit relation">edit</md-icon>
	  </md-button>

	  <md-button class="md-icon-button" style="top: 7px;" ng-click="cancel()">
	    <md-icon md-font-set="material-icons" aria-label="Close dialog">close</md-icon>
	  </md-button>
	</md-toolbar>
	<div style="overflow: auto;">
		<h1 class="md-display-2" style="padding-left: 20px;"> Activos involucrados </h1>
		<div layout="row" style="padding-bottom: 30px; padding-left: 16px; padding-top: 16px;">
			<md-icon md-font-set="material-icons" style="margin-right: 32px; margin-left: 0px; padding-left: 20px; padding-right: 20px; ">description</md-icon>
			<p style="padding-left: 20px; padding-top: 4px;" ng-click=""> {{sourceAsset.name}}</p>
			<md-icon md-font-set="material-icons" style="margin-right: 32px; margin-left: 0px; margin-right: 0px; padding-left: 20px; padding-right: 20px; ">trending_flat</md-icon>
			<p style="padding-left: 20px; padding-top: 4px;" ng-click=""> {{relatedAsset.name}}</p>
		</div>

		<md-divider ></md-divider>
		<h2 class="md-display-2" style="padding-left: 20px;">Comentarios</h2>
	    <p style="padding-left: 20px; padding-bottom: 30px; padding-top: 20px;"> {{relation.comment}} </p>
	    <md-divider ></md-divider>
	    <h2 class="md-display-2" style="padding-left: 20px; padding-bottom: 20px;">Atributos</h2>
	    <div layout="row" style="padding-bottom: 30px; padding-left: 16px; padding-top: 16px;">
		    <md-icon md-font-set="material-icons" style="margin-right: 32px; margin-left: 0px; padding-left: 20px; padding-right: 20px; ">settings_input_component</md-icon>
		    <strong style="padding-left: 20px; padding-top: 4px;">Id de relación: </strong>
		    <p style="padding-left: 20px; padding-top: 4px;"> {{relation.id}}</p>
	    </div>
	    <div layout="row" style="padding-bottom: 30px; padding-left: 16px; padding-top: 16px;">
	    	<md-icon md-font-set="material-icons" style="margin-right: 32px; margin-left: 0px; padding-left: 20px; padding-right: 20px;">warning</md-icon>
	    	<strong style="padding-left: 20px; padding-top: 4px;">Relación crítica: </strong>
	    	<p style="padding-left: 20px; padding-top: 4px;">{{critico}}</p>
	    </div>

	    <div layout="row" style="padding-bottom: 30px; padding-left: 16px; padding-top: 16px;">
	    	<md-icon md-font-set="material-icons" style="margin-right: 32px; margin-left: 0px; padding-left: 20px; padding-right: 20px;">settings_input_component</md-icon>
	    	<strong style="padding-left: 20px; padding-top: 4px;">Id de activo destino: </strong>
	    	<p style="padding-left: 20px; padding-top: 4px;">{{relation.relatedAssetId}}</p>
	    </div>
			<div layout="row" style="padding-bottom: 30px; padding-left: 16px; padding-top: 16px;">
				<md-icon md-font-set="material-icons" style="margin-right: 32px; margin-left: 0px; padding-left: 20px; padding-right: 20px;">settings_input_component</md-icon>
				<strong style="padding-left: 20px; padding-top: 4px;">ID de tipo de relacion: </strong>
				<p style="padding-left: 20px; padding-top: 4px;">{{relation.relationTypeId}}</p>
			</div>


		<md-dialog-actions layout="row">
			<md-button ng-click="hide()">
			  Aceptar
			</md-button>

		</md-dialog-actions>

	</div>
</md-dialog>
