<md-dialog aria-label="Editar tipo relacion" ng-cloak style="width: 800px; ">
	<md-toolbar layout="row">
	  <div class="md-toolbar-tools">

	    <h1> Tipo de relación: {{relationType._id}}  &nbsp; </h1>

	  </div>

      <md-button class="md-icon-button" style="top: 7px;" ng-click="editRelationType($event,relationType,indice)">
      	<md-tooltip md-direction="bottom"> Editar </md-tooltip>
	    <md-icon md-font-set="material-icons" aria-label="Edit asset">edit</md-icon>
	  </md-button>

	  <md-button class="md-icon-button" style="top: 7px;" ng-click="cancel()">
	    <md-icon md-font-set="material-icons" aria-label="Close dialog">close</md-icon>
	  </md-button>
	</md-toolbar>
	<form >

		<h1 class="md-display-1" style="padding-left: 20px; padding-top: 10px;">Comentarios</h1>
	  <p style="padding-left: 40px; padding-bottom: 20px; padding-top: 20px;"> {{relationType.comment}} </p>
		<md-divider></md-divider>
		<h1 class="md-display-1" style="padding-left: 20px;padding-top: 10px;">Relación saliente</h1>
		<p style="padding-left: 40px; padding-bottom: 20px; padding-top: 20px;"> {{relationType.outLabel}} </p>
		<md-divider></md-divider>
		<h1 class="md-display-1" style="padding-left: 20px;padding-top: 10px;">Relación entrante</h1>
		<p style="padding-left: 40px; padding-bottom: 20px;padding-top: 20px;"> {{relationType.inLabel}} </p>

		<md-dialog-actions layout="row">
			<md-button ng-click="hide()">
			  Cerrar
			</md-button>
		</md-dialog-actions>

	</form>
</md-dialog>
