
<div id="win" layout="column" style=" height: 100%;" ng-click="clickClose(); ">
  <md-toolbar layout="row" >
    <div class="md-toolbar-tools" >

      <h1>Activos Informaticos &nbsp; </h1>

      <span flex=""></span>

      <md-menu md-position-mode="target-right target">
        <md-button class="md-icon-button" aria-label="Opciones" ng-click="openMenu($mdOpenMenu, $event)">
          <md-icon md-menu-origin="" md-font-set="material-icons">settings</md-icon>
        </md-button>
        <md-menu-content width="1">
          <md-menu-item>
            <md-button ng-click="go()">
              <md-icon md-font-set="material-icons" md-menu-align-target="" >build</md-icon>
              Administración
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </div>
  </md-toolbar>
  <div layout="row" flex>

    <div layout="column" flex id="content">
      <md-content layout="column" flex class="md-padding" flex="100">
          <md-content layout="column" flex="100">
            <md-tabs md-border-bottom="" layout="column" flex="100">
              <md-tab label="Activos" style="overflow: auto;" flex="100">
                <md-content class="md-padding" flex="100" layout="column" layout-align="space-around">


                    <div class="" layout="row" layout-align="center center ">
                      <div layout="row" >
                        <md-input-container class=" md-block" style="width: 400px;">
                          <md-icon style="bottom:28px;" md-font-set="material-icons" aria-label="nombre tipo activo">search</md-icon>
                          <input ng-model="buscadoString" type="text" placeholder="Ingrese palabra a buscar" ng-disabled="busquedaAvanzada">
                        </md-input-container>
                        <div class="">
                          <md-button ng-click="busqueda(buscadoString,false)">
                            Buscar
                          </md-button>
                          <md-button ng-click="showAdvSearch($event)">
                            Avanzada
                          </md-button>
                        </div>
                      </div>
                    </div>

                    <div layout="row" layout-sm="column" layout-align="space-around" ng-if="buscando" >
                      <md-progress-circular md-mode="indeterminate" md-diameter="106"></md-progress-circular>
                    </div>

                    <p class="md-block" ng-if="myassets.length==0" style="margin-top:20px; margin-bottom:20px; padding-left:35px; padding-top:20px;"> No se encontraron resultados </p>

                    <div layout="row" flex="100" layout-wrap layout-margin layout-align="start center" ng-if="!buscando" ng-cloak>

                      <div style="min-width: 15%; cursor:pointer; cursor: hand" layout="column" layout-align="center" ng-repeat="asset in myassets" ng-click="clickAsset(asset, $index);  $event.stopPropagation();" ng-dblclick="goAsset(clicked_asset)">

                        <md-icon style="font-size: 48px; width: 50px;height: 50px;" ng-class="{'select-activo animated pulse': clickedIcon($index) }"  md-font-set="material-icons">description</md-icon>
                        <div style="text-align: center"> {{asset.name}} </div>
                      </div>
                    </div>


                </md-content>
                <div class="" flex>
                  <md-sidenav layout="column" class="md-sidenav-right md-whiteframe-z2" md-component-id="right" flex="100">
                    <md-toolbar  layout="row">
                      <div class="md-toolbar-tools" >
                        <h1 >Detalles - {{clicked_asset.name}}</h1>
                      </div>

                      <md-button ng-click="cerrarAvanzado()" class="md-icon-button" style="top: 10px;">
                        <md-icon md-font-set="material-icons" md-menu-align-target="" >close</md-icon>
                      </md-button>
                    </md-toolbar>
                    <div class="" layout="row" layout-align="center center">
                      <md-button aria-label="Abrir" style="top: 5px;"class="md-icon-button" ng-click="goAsset(clicked_asset); ">
                        <md-tooltip md-direction="bottom"> Ver </md-tooltip>
                        <md-icon md-font-set="material-icons">visibility</md-icon>
                      </md-button>
                      <md-button aria-label="Editar" style="top: 5px;" class="md-icon-button" ng-click="editAsset(clicked_asset);">
                        <md-tooltip md-direction="bottom"> Editar </md-tooltip>
                        <md-icon md-font-set="material-icons">edit</md-icon>
                      </md-button>
                      <md-button aria-label="Borrar" style="top: 5px;" class="md-icon-button"ng-click="deleteAsset($event, clicked_asset, clicked_index); ">
                        <md-tooltip md-direction="bottom"> Borrar </md-tooltip>
                        <md-icon md-font-set="material-icons">delete</md-icon>
                      </md-button>
                      <md-button aria-label="Relacionar" style="top: 5px;" class="md-icon-button" ng-click="addRelation($event,'3', clicked_asset); ">
                        <md-tooltip md-direction="bottom"> Relacionar </md-tooltip>
                        <md-icon  md-font-set="material-icons">link</md-icon>
                      </md-button>
                    </div>

                    <md-card>
                     <md-card-title style="padding-top:0px;">
                       <md-card-title-text >
                         <span class="md-subhead">Estado del activo</span>
                       </md-card-title-text>
                     </md-card-title>
                     <md-card-content layout="row">
                       <md-icon md-font-set="material-icons" style="margin-right: 32px; margin-left: 0px; padding-right: 20px;">panorama_fish_eye</md-icon>
                       <p ng-class="{'estado-final': esFinal }" class="estado-actual" style=" padding-top: 2px;">{{clicked_asset.estadoActual}}</p>
                     </md-card-content>
                    </md-card>
                   <md-card ng-if="clicked_asset.tags.length>0">

                    <md-card-content layout="row" style="padding-top:0px; padding-bottom:0px;">
                      <div >
                       <md-chips ng-model="clicked_asset.tags" readonly="true" ></md-chips>
                     </div>
                    </md-card-content>
                    </md-card>

                   <md-card ng-if="clicked_asset.attached.length!=0">

                    <md-card-content layout="row">
                      <md-icon md-font-set="material-icons" style="margin-right: 32px; margin-left: 0px;  padding-right: 20px;">attach_file</md-icon>
                      <p ng-show="clicked_asset.attached.length==1" style=" padding-top: 2px;">Tiene {{clicked_asset.attached.length}} elemento adjunto</p>
                      <p ng-show="clicked_asset.attached.length>1"style="padding-top: 2px;">Tiene {{clicked_asset.attached.length}} elementos adjuntos</p>
                    </md-card-content>
                    </md-card>
                    <md-card ng-if="clicked_asset.stakeholders.length!=0">

                      <md-card-content layout="row">
                        <md-icon md-font-set="material-icons" style="margin-right: 32px; margin-left: 0px;  padding-right: 20px;">person</md-icon>
                        <p style=" padding-top: 2px;" ng-show="clicked_asset.stakeholders.length==1">Tiene {{clicked_asset.stakeholders.length}} miembro</p>
                        <p style=" padding-top: 2px;" ng-show="clicked_asset.stakeholders.length>1">Tiene {{clicked_asset.stakeholders.length}} miembros</p>
                      </md-card-content>
                    </md-card>
                  </md-sidenav>
                </div>

              </md-tab>
              <md-tab label="Personas">
                <md-content class="md-padding">
                  <div class="" layout="row" layout-align="center center ">
                    <md-input-container class=" md-block" style="width: 400px;">
                      <md-icon style="bottom:28px;" md-font-set="material-icons" aria-label="nombre persona">search</md-icon>
                      <input ng-model="filterPerson" type="text" placeholder="Filtrar por nombre">
                    </md-input-container>
                  </div>
                  <md-list ng-cloak>
                    <md-list-item ng-repeat="person in people | filter:filterPerson" ng-click="goPerson(person)">
                      <md-icon md-font-set="material-icons">account_circle</md-icon>
                      <p>{{ person.name }}</p>
                      <md-icon md-font-set="material-icons" ng-click="goEditPerson(person)" aria-label="Open Chat" class="md-secondary md-hue-3">edit</md-icon>
                      <md-divider ng-if="!$last"></md-divider>
                    </md-list-item>
                  </md-list>
                </md-content>
              </md-tab>
            </md-tabs>
          </md-content>
        </div>

      </md-content>

      <ul mfb-menu menu-state="myVar" position="br" effect="slidein" active-icon="ion-close" resting-icon="ion-plus" toggling-method="click" >
        <a mfb-button mfb-button-close icon="ion-ios-personadd" label="Nueva persona" ng-click="showAddPerson($event)" >  </a>
        <a mfb-button mfb-button-close icon="ion-link" label="Nueva relacion" ng-click="addRelation($event,'1',null)" >  </a>
        <a mfb-button mfb-button-close icon="ion-ios-paper" label="Nuevo activo" ng-click="showAddAsset($event)" >  </a>
      </ul>

  </div>
  <!-- Angular Material Dependencies -->

</div>
