

<div layout="column" style=" height: 100%;" ng-click="clickClose()">
  <md-toolbar layout="row" >
    <div class="md-toolbar-tools">

      <h1>Activos Informaticos &nbsp; </h1>
      <div class="cerrar-menu-activo" ng-class="{'mostrar-menu-activo animated bounceInLeft': clicked }">

            <md-button aria-label="Abrir" class="md-icon-button" ng-click="goAsset($event, clicked_asset, clicked_index); $event.stopPropagation();">
              <md-tooltip md-direction="bottom"> Abrir </md-tooltip>
              <md-icon md-font-set="material-icons">open_in_new</md-icon>
            </md-button>
            <md-button aria-label="Editar"  class="md-icon-button" ng-click="editAsset($event, clicked_asset, clicked_index); $event.stopPropagation();">
              <md-tooltip md-direction="bottom"> Editar </md-tooltip>
              <md-icon md-font-set="material-icons">edit</md-icon>
            </md-button>
            <md-button aria-label="Borrar"  class="md-icon-button"ng-click="deleteAsset($event, clicked_asset, clicked_index); $event.stopPropagation();">
              <md-tooltip md-direction="bottom"> Borrar </md-tooltip>
              <md-icon md-font-set="material-icons">delete</md-icon>
            </md-button>
            <md-button aria-label="Borrar" class="md-icon-button" ng-click="addRelation($event,'3', clicked_asset); $event.stopPropagation();">
              <md-tooltip md-direction="bottom"> Relacionar </md-tooltip>
              <md-icon md-font-set="material-icons">link</md-icon>
            </md-button>
      </div>
      <span flex=""></span>
      <md-button class="md-icon-button" aria-label="Busqueda">
        <md-icon md-font-set="material-icons">search</md-icon>
      </md-button>

      <md-menu md-position-mode="target-right target">
        <md-button class="md-icon-button" aria-label="Opciones" ng-click="openMenu($mdOpenMenu, $event)">
          <md-icon md-menu-origin="" md-font-set="material-icons">settings</md-icon>
        </md-button>
     
        <md-menu-content width="2">
          <md-menu-item>
            <md-button ng-click="go('/admin')">
              <md-icon md-font-set="material-icons" md-menu-align-target="" >face</md-icon>
              Administrar usuarios
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button disabled="disabled" >
              <md-icon md-font-set="material-icons">voicemail</md-icon>
              Check voicemail
            </md-button>
          </md-menu-item>
          
        </md-menu-content>  
  
      </md-menu>
    </div>
  </md-toolbar>
  <div layout="row" flex>
    <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-4dp" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
      <md-button class="md-accent">Mis activos</md-button>
      <md-button class="md-accent">Compartidos</md-button>
    </md-sidenav>
    <div layout="column" flex id="content">
      <md-content layout="column" flex class="md-padding">

          <md-content>
            <md-tabs md-dynamic-height="" md-border-bottom="">
              <md-tab label="Todos">
                <md-content class="md-padding">
                  <h1 class="md-display-2">Todos los activos</h1>

                  <div layout="row" layout-wrap layout-margin layout-align="start center" >
                         
                    <!--div style="min-width: 15%; cursor:pointer; cursor: hand" layout="column" layout-align="center" ng-repeat="asset in myassets" ng-click="goAsset($event, asset, $index)"-->
                    <div style="min-width: 15%; cursor:pointer; cursor: hand" layout="column" layout-align="center" ng-repeat="asset in myassets" ng-click="clickAsset(asset, $index);  $event.stopPropagation();" ng-dblclick="goAsset($event, clicked_asset, clicked_index)">
                             <!--img src="images/nota.svg"/-->
                      <md-icon style="font-size: 48px; width: 50px;height: 50px;" ng-class="{'select-activo animated pulse': clickedIcon($index) }"  md-font-set="material-icons">description</md-icon>
                      <div style="text-align: center"> {{asset.name}} </div>
                    </div>
                  </div>
                                        
                </md-content>
              </md-tab>
              <md-tab label="Relaciones">
                <md-content class="md-padding">
                  <h1 class="md-display-2">Relaciones</h1>
                  <div layout="row" layout-wrap layout-margin layout-align="start center" >
                         
                    <div style="min-width: 15%; cursor:pointer; cursor: hand" layout="column" layout-align="center" ng-repeat="relation in myrelations" ng-click="goRelation($event, clicked_relation, clicked_index)">
                      <md-icon style="font-size: 48px; width: 50px;height: 50px;" md-font-set="material-icons">link</md-icon>
                      <div style="text-align: center"> {{relation.name}} </div>
                    </div>
                  </div>
                  
                </md-content>
              </md-tab>
              <md-tab label="Mapa">
                <md-content class="md-padding">
                  <h1 class="md-display-2">Mapa</h1>
                  <img src="/home/gonzalo/graph.png">
                </md-content>
              </md-tab>
            </md-tabs>
          </md-content>
        </div>

      </md-content>
      
      <ul mfb-menu menu-state="myVar" position="br" effect="slidein" active-icon="ion-close" resting-icon="ion-plus" toggling-method="click" >
        <!--a mfb-button mfb-button-close icon="ion-android-list" label="Nuevo tipo de activo" ng-click="showAddAssetType($event)" >  </a-->
        <a mfb-button mfb-button-close icon="ion-link" label="Nueva relacion" ng-click="addRelation($event,'1',null)" >  </a>
        <a mfb-button mfb-button-close icon="ion-ios-paper" label="Nuevo activo" ng-click="showAddAsset($event)" >  </a>
      </ul>

  </div>
  <!-- Angular Material Dependencies -->

</div>

