

<div layout="column" style=" height: 100%;" ng-click="clickClose()">
  <md-toolbar layout="row" >
    <div class="md-toolbar-tools">

      <h1>Activos Informaticos &nbsp; </h1>
      <div class="cerrar-menu-activo" ng-class="{'mostrar-menu-activo animated bounceInLeft': clicked }">

            <md-button aria-label="Abrir" class="md-icon-button" ng-click="goAsset($event, clicked_asset, clicked_index); $event.stopPropagation();">
              <md-tooltip md-direction="bottom"> Ver </md-tooltip>
              <md-icon md-font-set="material-icons">visibility</md-icon>
            </md-button>
            <md-button aria-label="Editar"  class="md-icon-button" ng-click="editAsset($event, clicked_asset, clicked_index); $event.stopPropagation();">
              <md-tooltip md-direction="bottom"> Editar </md-tooltip>
              <md-icon md-font-set="material-icons">edit</md-icon>
            </md-button>
            <md-button aria-label="Borrar"  class="md-icon-button"ng-click="deleteAsset($event, clicked_asset, clicked_index); $event.stopPropagation();">
              <md-tooltip md-direction="bottom"> Borrar </md-tooltip>
              <md-icon md-font-set="material-icons">delete</md-icon>
            </md-button>
            <md-button aria-label="Borrar" class="md-icon-button" ng-click="addRelation($event,'3', clicked_asset); $event.stopPropagation();">
              <md-tooltip md-direction="bottom"> Relacionar </md-tooltip>
              <md-icon md-font-set="material-icons">link</md-icon>
            </md-button>
      </div>
      <span flex=""></span>
      <!-- <md-button class="md-icon-button" aria-label="Busqueda">
        <md-icon md-font-set="material-icons">search</md-icon>
      </md-button> -->

      <md-menu md-position-mode="target-right target">
        <md-button class="md-icon-button" aria-label="Opciones" ng-click="openMenu($mdOpenMenu, $event)">
          <md-icon md-menu-origin="" md-font-set="material-icons">settings</md-icon>
        </md-button>

        <md-menu-content width="1">
          <md-menu-item>
            <md-button ng-click="go('/admin')">
              <md-icon md-font-set="material-icons" md-menu-align-target="" >face</md-icon>
              Administrar usuarios
            </md-button>
          </md-menu-item>
          <!-- <md-menu-item>
            <md-button disabled="disabled" >
              <md-icon md-font-set="material-icons">voicemail</md-icon>
              Check voicemail
            </md-button>
          </md-menu-item> -->

        </md-menu-content>

      </md-menu>
    </div>
  </md-toolbar>
  <div layout="row" flex>
    <!-- <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-4dp" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
      <md-button class="md-accent">Mis activos</md-button>
      <md-button class="md-accent">Compartidos</md-button>
    </md-sidenav> -->
    <div layout="column" flex id="content">
      <md-content layout="column" flex class="md-padding">

          <md-content>
            <md-tabs md-dynamic-height="" md-border-bottom="">

              <md-tab label="Todos">
                <md-content class="md-padding">
                  <h1 class="md-display-2">Todos los activos</h1>

                  <div layout="row" layout-wrap layout-margin layout-align="start center" >

                    <!--div style="min-width: 15%; cursor:pointer; cursor: hand" layout="column" layout-align="center" ng-repeat="asset in myassets" ng-click="goAsset($event, asset, $index)"-->
                    <div style="min-width: 15%; cursor:pointer; cursor: hand" layout="column" layout-align="center" ng-repeat="asset in myassets" ng-click="clickAsset(asset, $index);  $event.stopPropagation();" ng-dblclick="goAsset($event, clicked_asset, clicked_index)">
                             <!--img src="images/nota.svg"/-->
                      <md-icon style="font-size: 48px; width: 50px;height: 50px;" ng-class="{'select-activo animated pulse': clickedIcon($index) }"  md-font-set="material-icons">description</md-icon>
                      <div style="text-align: center"> {{asset.name}} </div>
                    </div>
                  </div>

                </md-content>
              </md-tab>

              <md-tab label="Relaciones">
                <div >
                  <div layout="column">
                    <div layout="row" layout-align="space-between center">
                      <h1 class="md-display-2" ng-show="!direccionRelaciones">Relaciones salientes</h1>
                      <h1 class="md-display-2" ng-show="direccionRelaciones">Relaciones entrantes</h1>
                      <md-input-container style="margin-top:0px;">
                        <md-switch ng-model="direccionRelaciones" ng-change="searchRelations(select_asset._id,select_asset.name)">Relaciones salientes/entrantes</md-switch>
                      </md-input-container>
                    </div>

                  </div>

                  <p style="margin-top:20px; margin-bottom:20px;"> Seleccione un activo de la lista para ver las relaciones en las que participa </p>
                  <div layout="column">
                    <div layout="row" style="min-height: 600px;">

                      <md-sidenav class="md-sidenav-left " md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')" style="min-width: 25% !important; width: 700px; ">
                        <md-input-container class="md-icon-float md-block" style="top: 20px;">
                          <input type="search" ng-model="buscado" placeholder="Activos" aria-label="filter assets" />
                        </md-input-container>
                        <md-list ng-cloak>
                          <!-- md-subheader class="md-no-sticky">Lista de usuarios</md-subheader-->
                          <md-list-item ng-repeat="asset in myassets | filter:buscado" ng-click="searchRelations(asset._id,asset.name)" ng-class="{'select-activo animated pulse': clickedIcon($index) }">

                            <!--img alt="{{ person.name }}" ng-src="{{ person.img }}" class="md-avatar" /-->
                            <p>{{ asset.name }}</p>

                            <md-divider ng-if="!$last"></md-divider>
                          </md-list-item>
                        </md-list>
                      </md-sidenav>

                      <div layout="column" flex id="content" style="width: 1000px; " >
                        <div layout="row" layout-wrap layout-margin layout-align="start center" style="margin-left:20px; " >

                          <!--div style="min-width: 15%; cursor:pointer; cursor: hand" layout="column" layout-align="center" ng-repeat="asset in myassets" ng-click="goAsset($event, asset, $index)"-->
                          <div style="min-width: 15%; cursor:pointer; cursor: hand" layout="column" layout-align="center" ng-repeat="relation in assetRelations" ng-click="clickRelation(relation, $index)" ng-dblclick="goRelation($event, relation, sourceAssetId, $index)">
                                   <!--img src="images/nota.svg"/-->
                            <md-icon style="font-size: 48px; width: 50px;height: 50px;" ng-class="{'select-relacion animated pulse': clickedRelacionIcon($index) }"  md-font-set="material-icons">link</md-icon>
                            <div style="text-align: center" ng-show="!direccionRelaciones"> {{labels[$index].outLabel || relation.relationTypeId }} </div>
                            <div style="text-align: center" ng-show="direccionRelaciones"> {{labels[$index].inLabel || relation.relationTypeId }} </div>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>

                </div>
              </md-tab>
              <md-tab label="Mapa">
                <md-content class="md-padding">
                  <h1 class="md-display-2">Mapa</h1>
                  <!--img src="/home/gonzalo/graph.png"-->
                </md-content>
              </md-tab>
              <md-tab label="Buscador">
                <md-content class="md-padding" style="top: 70%; left: 33%; " >
                    <h1 class="md-display-2" style="padding-left: 56px; padding-top: 56px;">Buscador de activos</h1>

                    <div style=" width: 500px; padding-top: 30px;">
                      <md-input-container class=" md-block" >
                        <md-icon md-font-set="material-icons" aria-label="nombre tipo activo">search</md-icon>
                        <input ng-model="buscado" type="text" placeholder="Ingrese nombre de activo" >
                      </md-input-container>
                    </div>

                    <md-input-container>
                      <md-switch ng-model="busquedaAvanzada">Busqueda avanzada</md-switch>
                    </md-input-container>
                    <div class="" layout="column">
                      <div layout="row" ng-show="busquedaAvanzada">
                        <div >
                          <md-radio-group ng-model="opcionBusqueda">
                            <md-radio-button value="tipo">Tipo de activo</md-radio-button>
                            <md-radio-button value="tag">Tags</md-radio-button>
                            <md-radio-button value="relacion">Relacion</md-radio-button>
                            <md-radio-button value="estado">Estado actual</md-radio-button>
                          </md-radio-group>
                        </div>
                        <div class="" layout="row" ng-switch="opcionBusqueda" style="padding-left: 50px;">
                          <div ng-switch-when="tipo">
                            <md-input-container class=" md-block" style="bottom:14px; margin-bottom:0px;">
                              <input ng-model="busquedaIdType" type="text" placeholder="Id de tipo de activo" >
                            </md-input-container>
                            <md-input-container class=" md-block" style="bottom:14px;">
                              <input ng-model="busquedaNameType" type="text" placeholder="Nombre de tipo de activo" >
                            </md-input-container>
                          </div>
                          <div ng-switch-when="tag">
                            <md-chips ng-model="busquedaTag" placeholder="Agregue tags a buscar" secondary-placeholder="+Tag" delete-button-label="Borrar"></md-chips>
                          </div>
                          <div ng-switch-when="relacion">
                            <md-input-container class=" md-block" style="bottom:14px; margin-bottom:0px;">
                              <input ng-model="busquedaIdRelation" type="text" placeholder="Id de relacion">
                            </md-input-container>
                            <md-input-container class=" md-block" style="bottom:14px; margin-bottom:0px; height:40px;">
                              <input ng-model="busquedaTypeRelation" type="text" placeholder="Tipo de relacion" >
                            </md-input-container>

                              <label style="padding-left:2px;">Crítico</label>
                    		      <md-checkbox ng-model="busquedaRelationIsCritical" aria-label="Checkbox 1">
                    		      </md-checkbox>

                          </div>
                          <div ng-switch-when="estado">
                            <md-input-container class=" md-block" style="bottom:14px;">
                              <input ng-model="busquedaEstadoActual" type="text" placeholder="Estado actual">
                            </md-input-container>
                          </div>
                        </div>
                      </div>

                    </div>

                    <div class="" style="padding-left: 160px;">
                      <md-button ng-click="" ng-disabled="userForm.$invalid">
                        Buscar
                      </md-button>
                      <!-- <md-button ng-click="" style="margin-right:20px;">
                        Avanzado
                      </md-button> -->
                    </div>


                </md-content>
              </md-tab>
            </md-tabs>
          </md-content>
        </div>

      </md-content>

      <ul mfb-menu menu-state="myVar" position="br" effect="slidein" active-icon="ion-close" resting-icon="ion-plus" toggling-method="click" >
        <!--a mfb-button mfb-button-close icon="ion-android-list" label="Nuevo tipo de activo" ng-click="showAddAssetType($event)" >  </a-->
        <a mfb-button mfb-button-close icon="ion-link" label="Nueva relacion" ng-click="addRelation($event,'1',null)" >  </a>
        <a mfb-button mfb-button-close icon="ion-ios-paper" label="Nuevo activo" ng-click="showAddAsset($event)" >  </a>
      </ul>

  </div>
  <!-- Angular Material Dependencies -->

</div>
